.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2rem;
  align-items: center;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0.25rem;
  margin: 2rem;
  max-width: 65%;
}

.job-listing {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-start;
  width: 60%;
  gap: 1.8rem;
}

.dropdown,
.searchBar {
  display: flex;
  flex-direction: column;
}

.dropdown > label,
.searchBar > label {
  font-size: 14px;
}
